<form action="/save-rate" method="POST">
    <input type="text" placeholder="Material" name="material">
    <input type="text" placeholder="Price per" name="price">
    <input type="text" placeholder="Rate" name="rate">
    <button type="submit">Save</button>
</form>